.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .desktop .heading {
    position: absolute;
    width: 694px;
    height: 63px;
    top: 306px;
    left: 373px;
  }
  
  .desktop .text-wrapper {
    position: absolute;
    height: 32px;
    top: 14px;
    left: 0;
    font-family: "Open Sans-Bold", Helvetica;
    font-weight: 700;
    color: #120000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 31.2px;
    white-space: nowrap;
  }
  
  .desktop .header {
    display: flex;
    width: 1440px;
    height: 80px;
    align-items: center;
    gap: 63.73px;
    padding: 12.56px 1430.27px 14.58px 16px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-top-style: none;
    border-right-style: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: #f1f1f1;
  }
  
  .desktop .link-strona-gwna {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    margin-right: -272.27px;
  }
  
  .desktop .heading-2 {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
  }
  
  .desktop .div-ibe-header {
    position: relative;
    width: 40px;
  }
  
  .desktop .span-ibe-header-name {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 33.6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 0;
    -webkit-box-orient: vertical;
  }
  
  .desktop .p-ibe-header-portal {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    margin-right: -480px;
  }
  
  .desktop .pseudo {
    position: absolute;
    width: 2px;
    height: 40px;
    top: -10px;
    left: -32px;
    background-color: #000000;
  }
  
  .desktop .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #1b1b1b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .desktop .overlap-group {
    position: absolute;
    width: 950px;
    height: 30px;
    top: 178px;
    left: 245px;
  }
  
  .desktop .line {
    position: absolute;
    width: 920px;
    height: 1px;
    top: 14px;
    left: 15px;
    object-fit: cover;
  }
  
  .desktop .pytanie-pozycja {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background-color: #0052a5;
    border-radius: 15px;
  }
  
  .desktop .pytanie-pozycja-2 {
    left: 230px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    background-color: #d9d9d9;
    border-radius: 15px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .desktop .pytanie-pozycja-3 {
    left: 460px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    background-color: #d9d9d9;
    border-radius: 15px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .desktop .pytanie-pozycja-4 {
    left: 690px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    background-color: #d9d9d9;
    border-radius: 15px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .desktop .pytanie-pozycja-5 {
    left: 920px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    background-color: #d9d9d9;
    border-radius: 15px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .desktop .button {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: 762px;
    left: 1045px;
    background-color: #0052a5;
    border-radius: 100px;
    overflow: hidden;
    all: unset;
    box-sizing: border-box;
  }
  
  .desktop .state-layer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 24px;
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
  }
  
  .desktop .label-text {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--m3-label-large-font-family);
    font-weight: var(--m3-label-large-font-weight);
    color: var(--m3syslighton-primary);
    font-size: var(--m3-label-large-font-size);
    text-align: center;
    letter-spacing: var(--m3-label-large-letter-spacing);
    line-height: var(--m3-label-large-line-height);
    white-space: nowrap;
    font-style: var(--m3-label-large-font-style);
  }
  
  .desktop .radio-button {
    position: absolute;
    width: 354px;
    height: 18px;
    top: 381px;
    left: 395px;
  }
  
  .desktop .element-arabika {
    position: absolute;
    width: 324px;
    height: 18px;
    top: -1px;
    left: 30px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24.3px;
    white-space: nowrap;
  }
  
  .desktop .ellipse {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    border-radius: 9px;
    border: 2px solid;
    border-color: #000000;
  }
  
  .desktop .radio-button-2 {
    top: 424px;
    position: absolute;
    width: 354px;
    height: 18px;
    left: 395px;
  }
  
  .desktop .radio-button-3 {
    top: 467px;
    position: absolute;
    width: 354px;
    height: 18px;
    left: 395px;
  }
  
  .desktop .radio-button-4 {
    top: 510px;
    position: absolute;
    width: 354px;
    height: 18px;
    left: 395px;
  }
  
  .desktop .radio-button-5 {
    top: 553px;
    position: absolute;
    width: 354px;
    height: 18px;
    left: 395px;
  }
  

  .desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .desktop .heading {
    position: absolute;
    width: 694px;
    height: 63px;
    top: 306px;
    left: 373px;
  }
  
  .desktop .text-wrapper {
    position: absolute;
    height: 32px;
    top: 14px;
    left: 0;
    font-family: "Open Sans-Bold", Helvetica;
    font-weight: 700;
    color: #120000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 31.2px;
    white-space: nowrap;
  }
  
  .desktop .header {
    display: flex;
    width: 1440px;
    height: 80px;
    align-items: center;
    gap: 63.73px;
    padding: 12.56px 1430.27px 14.58px 16px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-top-style: none;
    border-right-style: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: #f1f1f1;
  }
  
  .desktop .link-strona-gwna {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    margin-right: -272.27px;
  }
  
  .desktop .heading-2 {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
  }
  
  .desktop .div-ibe-header {
    position: relative;
    width: 40px;
  }
  
  .desktop .span-ibe-header-name {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 33.6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 0;
    -webkit-box-orient: vertical;
  }
  
  .desktop .p-ibe-header-portal {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    margin-right: -480px;
  }
  
  .desktop .pseudo {
    position: absolute;
    width: 2px;
    height: 40px;
    top: -10px;
    left: -32px;
    background-color: #000000;
  }
  
  .desktop .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #1b1b1b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .desktop .overlap-group {
    position: absolute;
    width: 950px;
    height: 30px;
    top: 178px;
    left: 245px;
  }
  
  .desktop .line {
    position: absolute;
    width: 920px;
    height: 1px;
    top: 14px;
    left: 15px;
    object-fit: cover;
  }
  
  .desktop .pytanie-pozycja {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    background-color: #0052a5;
    border-radius: 15px;
  }
  
  .desktop .pytanie-pozycja-2 {
    left: 230px;
    background-color: #0052a5;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    border-radius: 15px;
  }
  
  .desktop .pytanie-pozycja-3 {
    left: 460px;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    border-radius: 15px;
  }
  
  .desktop .pytanie-pozycja-4 {
    left: 690px;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    border-radius: 15px;
  }
  
  .desktop .pytanie-pozycja-5 {
    left: 920px;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    border-radius: 15px;
  }
  
  .desktop .button {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: 762px;
    left: 1045px;
    background-color: #0052a5;
    border-radius: 100px;
    overflow: hidden;
    all: unset;
    box-sizing: border-box;
  }
  
  .desktop .state-layer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 24px;
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
  }
  
  .desktop .label-text {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--m3-label-large-font-family);
    font-weight: var(--m3-label-large-font-weight);
    color: var(--m3syslighton-primary);
    font-size: var(--m3-label-large-font-size);
    text-align: center;
    letter-spacing: var(--m3-label-large-letter-spacing);
    line-height: var(--m3-label-large-line-height);
    white-space: nowrap;
    font-style: var(--m3-label-large-font-style);
  }
  
  .desktop .state-layer-wrapper {
    display: flex;
    flex-direction: column;
    width: 122px;
    height: 42px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: 761px;
    left: 214px;
    background-color: #ffffff;
    border-radius: 100px;
    overflow: hidden;
    border: 1px solid;
    border-color: #0052a5;
    all: unset;
    box-sizing: border-box;
  }
  
  .desktop .label-text-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--m3-label-large-font-family);
    font-weight: var(--m3-label-large-font-weight);
    color: #0052a5;
    font-size: var(--m3-label-large-font-size);
    text-align: center;
    letter-spacing: var(--m3-label-large-letter-spacing);
    line-height: var(--m3-label-large-line-height);
    white-space: nowrap;
    font-style: var(--m3-label-large-font-style);
  }
  
  .desktop .POZYCJA-FILTRA {
    top: 387px;
    left: 373px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
  }
  
  .desktop .frame {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .CHECKBOX {
    position: relative;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 2px solid;
    border-color: #000000;
  }
  
  .desktop .pozycja-filtra {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24.3px;
    white-space: nowrap;
  }
  
  .desktop .frame-wrapper {
    top: 430px;
    left: 373px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
  }
  
  .desktop .div-wrapper {
    top: 473px;
    left: 373px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
  }
  
  .desktop .POZYCJA-FILTRA-2 {
    top: 516px;
    left: 373px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
  }
  
  .desktop .POZYCJA-FILTRA-3 {
    top: 559px;
    left: 373px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
  }
  
  .desktop .POZYCJA-FILTRA-4 {
    top: 387px;
    left: 611px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
  }
  
  .desktop .POZYCJA-FILTRA-5 {
    top: 430px;
    left: 611px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
  }
  
  .desktop .POZYCJA-FILTRA-6 {
    top: 473px;
    left: 611px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
  }
  
  .desktop .POZYCJA-FILTRA-7 {
    top: 516px;
    left: 611px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
  }
  
  .desktop .POZYCJA-FILTRA-8 {
    top: 559px;
    left: 611px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
  }
  
  .desktop .POZYCJA-FILTRA-9 {
    top: 387px;
    left: 849px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
  }
  
  .desktop .POZYCJA-FILTRA-10 {
    top: 430px;
    left: 849px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
  }
  
  .desktop .POZYCJA-FILTRA-11 {
    top: 473px;
    left: 849px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
  }
  
  .desktop .POZYCJA-FILTRA-12 {
    top: 516px;
    left: 849px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
  }
  
  .desktop .POZYCJA-FILTRA-13 {
    top: 559px;
    left: 849px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
  }
  
  .desktop .POZYCJA-FILTRA-14 {
    top: 438px;
    left: 1089px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
  }
  
  .desktop .POZYCJA-FILTRA-15 {
    top: 391px;
    left: 1089px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
  }
  